div{
  padding: 10px;
}
p{
  margin: 10px 0;
}
.button {
  padding: 2px;
  margin-top: 4px;
  margin-right: 2px;
  border-radius: 10px;
  font-size: 15px;
}
.ul {
  font-size: 20px;
}
.header {
  color: blue;
}
.button:active {
  color: green;
}
.button:focus {
  color: yellow;
  background-color: blue;
}
.borderline{
border:solid 1px black
}

.rightborder{
  border:solid 1px black
}